---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import moment from 'moment';

type Props = CollectionEntry<'post'>['data'];

const { title, description, createdDate, updatedDate, hero, category, tags } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <section class="container-sm section">
    <article class="article">
      <div class="mb-7">
        <h1 class="!mt-0 mb-1">{title}</h1>

        <ul class="mb-3 flex flex-wrap items-center gap-3 gap-y-1 text-[14px] text-text-light">
          <li title="分類" class="flex items-center gap-1">
            <span class="icon-[material-symbols--folder-outline] mr-[2px]"></span>
            <a href="/" class="hover:text-primary">
              {category}
            </a>
          </li>

          <li class="flex items-center gap-1">
            <div title="發表時間" class="flex items-center gap-1">
              <span class="icon-[mingcute--time-line]"></span>
              <time datetime={createdDate.toISOString()}>
                {moment(createdDate).format('YYYY-MM-DD')}
              </time>
            </div>

            {
              updatedDate && (
                <p title="編輯時間" class="text-deco-dark">
                  {`( 於 ${moment(updatedDate).format('YYYY-MM-DD')} 編輯 )`}
                </p>
              )
            }
          </li>
        </ul>

        {
          tags.length !== 0 && (
            <ul class="flex flex-wrap items-center gap-2 text-[12px] text-text-light">
              {tags.map((tag: string) => (
                <li>
                  <a href={`/tag/${tag}`} class="tag">
                    # {tag}
                  </a>
                </li>
              ))}
            </ul>
          )
        }
      </div>

      {hero && <img src={hero} alt="文章封面" class="mb-5 w-full object-cover" />}

      <div class="content">
        <slot />
      </div>
    </article>
  </section>
</BaseLayout>
